@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-height: 1000px;
}

body {
    background: linear-gradient(rgb(86, 93, 145), rgb(25, 27, 42));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

.search-bar > input[type=text] {
    border-radius: 2em 2em 2em 2em;
    font-size: 1.5em;
    margin-top: 2%;
    padding: .25em .5em .25em .5em;
    text-align: center;
    width: 30vh;

    -webkit-transition: width 0.2s ease-in-out; 
    transition: width 0.2s ease-in-out;
}

.search-bar > input[type=text]:focus {
    outline: none;
    text-align: left;
    width: 50vh;
}

@media only screen and (max-height: 800px) {
    .search-bar > input[type=text] {
        border-radius: 2em 2em 2em 2em;
        font-size: 1.5em;
        margin-top: 2%;
        padding: .25em .5em .25em .5em;
        text-align: center;
        width: 50vh;
    
        -webkit-transition: width 0.2s ease-in-out; 
        transition: width 0.2s ease-in-out;
    }

    .search-bar > input[type=text]:focus {
        outline: none;
        text-align: left;
        width: 70vh;
    }
}

@media only screen and (max-height: 450px) {
    .search-bar > input[type=text] {
        border-radius: 2em 2em 2em 2em;
        font-size: 1.5em;
        margin-top: 2%;
        padding: .25em .5em .25em .5em;
        text-align: center;
        width: 90vh;
    
        -webkit-transition: width 0.2s ease-in-out; 
        transition: width 0.2s ease-in-out;
    }
    .search-bar > input[type=text]:focus {
        outline: none;
        text-align: left;
        width: 120vh;
    }
}

.location > .icon {
    height: 200px;
    width: 315px;
    fill: white;
}

.location > .city {
    color: white;
    font-weight: bolder;
    margin: 1em;
}

.temperature {
    color: white;
}

.temperature-section {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2.5em;
}

.temperature-degrees {
    justify-content: space-around;
    flex-direction: column;
    margin-right: 5px;
}

#icon {
    margin: auto;
}

#celsius {
    color: white;
    font-size: .75em;
    font-weight: bold;
    margin-right: 5px;
}

#fahrenheit {
    color: grey;
    font-size: .75em;
}

.hover-class:hover {
    cursor: pointer;
}

.temperature > .weather-description {
    margin: 0.75em 1em 1em 1em;
    font-size: 1em;
}

.icon-to-detailed-page {
    margin-top: 4em;
    width: 35px;
    height: auto;
}

.icon-to-detailed-page:hover {
    cursor: pointer;
}

/* styles for low performance switch */
.low-performance-mode {
    display: flex;
    flex-direction: row;
} 

.low-performance-mode p {
    color: white;
    margin-top: 1.3em;
}

.low-performance-switch {
    display: flex;
    position: relative;
    width: 56px;
    height: 30px;
    margin: 1em;
}

.low-performance-switch input {
    opacity: 0;
}

.slider {
    background: #cccccc;
    border-radius: 34px;
    box-shadow: 1px 1px 8px -3px black;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    background: white;
    border-radius: 50%;
    box-shadow: 1px 1px 4px black;
    position: absolute;
    content: '';
    height: 22px;
    width: 22px;
    left: 6px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
}

.low-performance-switch input:checked + .slider {
    background-color: #48EA8B;
}

.low-performance-switch input + .slider:active {
    transform: scale(0.9);
}

.low-performance-switch input:checked + .slider:before {
    -webkit-transform: translateX(23px);
    transform: translateX(23px);
}

.detailed-page-container {
    display: none;
    color: white;
    margin-top: 3em;
    text-align: center;
}

.flex-box-container {
    display: flex;
    flex-direction: column;
}

.info-box {
    margin: 8em;
}

.info-box h2 {
    margin-top: 1em;
}

/*
.container {
    background: linear-gradient(rgb(72, 77, 121), rgb(21, 23, 36));
    border-radius: 5%;
    box-shadow: 0px 5px 10px black;
    max-width: 90%;
    width: 600px;
    margin: auto;
    padding: 5% 0%;
}
*/